header>ul>li{
    display: inline-block;
    border: 2px salmon solid;
    border-radius: 50% 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    text-align: center;
    padding: 5px;
    background-color: aliceblue

}
header{
    text-align: center;
}

body{
    background-color: darksalmon;
}

.hOo{
    height: 250px;
    font-style: oblique;
    border: 2px salmon solid;
    border-radius: 90%;
    display: inline-block;
    text-align: center;
    list-style: none;
    background-color: azure;
    position: absolute;
    color: indigo;
    border: 2px salmon solid;
    background-color: aliceblue;
    padding: 3px
}

.hOo>li{
    padding-top: 5px;
}

.login{
    text-decoration: none;
    color: black;
    border: 2px salmon solid;
    padding: 3px;
    background-color: aliceblue
}

#aboutSection{
    text-align: center;
    margin-top: 350px;
    position: absolute;
}

#aboutUs{
    width: 360px;
    float: left;
}

#aboutus{
    text-decoration: underline;
    text-shadow: 4px 4px 4px darkgrey;
    font-size: 30px;
}

.times{
    text-decoration: underline;
}

table{
    margin-top: 100px;
}

table, td, th{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 3px black solid;
    border-collapse: collapse;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3px;
    background-color: burlywood
}

#salmonPic{
    margin-bottom: 50px;    
    margin-top: 50px;
    position: absolute;
    margin-left: 20%;
}

#aboutSection{
    float: left;
}

#aboutSection>p{
    font-family: 'Mansalva', cursive;
    font-size: 20px;
    color: darkblue;
}

#fakeNews{
    color: aliceblue;
    display: inline-block;
    margin-top: 900px;
}