header>ul>li{
    display: inline-block;
    border: 5px, black, solid;
}

header{
    background-color: darksalmon;
}

main{
    background-color: darksalmon;
}

p{
    color: rgb(255, 68, 0);
}

data{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: darkslateblue;
}

caption{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    color: indigo;
    font-size: 24px;
}

table{
    border: 5px, solid, black, thick, transparent;
}